body{


	background-color:rgb(107, 107, 187);
	margin-left: 15%;
	margin-right: 15%;
}

.header-section{
	display: inline-flex;
	height: 50px;
	width: 100%;
}

.logo{
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 20%;
	height: 80px;
}

.logo img{
	width: 80px;
		
}

.banner{
	width: 80%;
	float: right;
}

.banner img{
	width: 680px;
	height: 80px;
}

.menu-section{
	display:flex;
	background-color: rgb(250,250,140);
	margin-top: -5px;
	height: 45px;
	
}

.navbar{
	float: left;
	
	margin-left: -25px;
	margin-top: -2px;

}

.navbar ul{
	list-style-type: none;
}

.navbar li{
	float: left;

}

.navbar li a{
	text-decoration: none;
	padding: 0px;
	margin-right: 0px;

	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 4px;
	padding-top: 4px;

	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;

	border-top: groove;
	border-left: groove;

	border-right: 1px solid black;
	border-bottom: 1px solid black;

	border-color: gray;

	background-color: white;
}

.search{
	text-align: right;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	margin-left: 250px;
	margin-right: 10px;

}

.search input{
	border:none;
	border-top: groove;
	border-left: groove;
}

.image-section{
	display: inline-flex;
	
}

.content{
	display: inline-flex;
	height: 390px;
	margin-top:-5px;
}

.right-content{
	background-color: gray;

}

.right-content ul{
	list-style-type: none;
	
	
}

.right-content li a{
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
	display: flex;
	padding-left: -100px;
	
}

.para1{
	border:2px dashed white;
	margin-bottom: 20px;
}

.para2{
	border:2px dashed white;
	margin-bottom: 20px;
}

.para3{
	border:2px dashed white;
	margin-bottom: 20px;
}

.main-content p{
	color: white;
	margin: 10px;
}
.footer1{
	background-image: url('./images/pic1.jpg');
	height: 250px;
	border: 5px solid white;
}

.footer-body{
	color: white;
	display: inline-flex;
}

.button-f{
	background-color: #CDCDCD;
	border-color: blue;
	border-radius: 50px;
	color: blue;
	display: inline-block;
	font-size: 10px;
	text-align: center;
	font-size: 16px;

	padding-top: 1px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 1px;

}

.footer-icon{
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.footer-body-section1{
	width: 200px;
}

.footer-bottom{
	background-color: gray;
	border: 4px solid white;
	margin-left: 15px;
	margin-right: 15px;
	
	height: 40px;

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


